@model LukeApps.GeneralPurchase.Models.Company
@section CustomStyles {
    @Styles.Render("~/Content/bdp")
	@Styles.Render("~/Content/bootstrap-dropdown")
}
@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>Company</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">

        @Html.LabelFor(model => model.CompanyName, htmlAttributes: new { @class = "control-label col-md-2" })

        <div class="col-md-10">
            @Html.EditorFor(model => model.CompanyName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.CompanyName, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">

        @Html.LabelFor(model => model.CompanyRegistration, htmlAttributes: new { @class = "control-label col-md-2" })

        <div class="col-md-10">
            @Html.EditorFor(model => model.CompanyRegistration, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.CompanyRegistration, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">

        @Html.LabelFor(model => model.CommodityDescription, htmlAttributes: new { @class = "control-label col-md-2" })

        <div class="col-md-10">
            @Html.EditorFor(model => model.CommodityDescription, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.CommodityDescription, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">

        @Html.LabelFor(model => model.WebSite, htmlAttributes: new { @class = "control-label col-md-2" })

        <div class="col-md-10">
            @Html.EditorFor(model => model.WebSite, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.WebSite, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">

        @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label col-md-2" })

        <div class="col-md-10">
            @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">

        @Html.LabelFor(model => model.Comments, htmlAttributes: new { @class = "control-label col-md-2" })

        <div class="col-md-10">
            @Html.EditorFor(model => model.Comments, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Comments, "", new { @class = "text-danger" })
        </div>
    </div>

    <hr />
    <div class="form-group collectionControl">
        <h4>@Html.LabelFor(model => model.BankAccounts, htmlAttributes: new { @class = "control-label col-md-2" })</h4>
        <div class="collectionGroup col-md-10">
            @Html.EditorFor(model => model.BankAccounts, "CollectionTemplate")
        </div>
        <div class="col-md-2">
            @Html.ValidationMessageFor(model => model.BankAccounts, "", new { @class = "text-danger" })
        </div>
        <div class="col-md-10">
            <br />
            <a class="btn btn-sm btn-default addCollectionItem" data-ajax-url="@Url.Action("AddNewBankAccount", new { id = Model.CompanyID })">
                <span class="glyphicon glyphicon-plus"></span> Add BankAccount
            </a>
        </div>
    </div>

    <hr />
    <div class="form-group collectionControl">
        <h4>@Html.LabelFor(model => model.CompanyFocalPoints, htmlAttributes: new { @class = "control-label col-md-2" })</h4>
        <div class="collectionGroup col-md-10">
            @Html.EditorFor(model => model.CompanyFocalPoints, "CollectionTemplate")
        </div>
        <div class="col-md-2">
            @Html.ValidationMessageFor(model => model.CompanyFocalPoints, "", new { @class = "text-danger" })
        </div>
        <div class="col-md-10">
            <br />
            <a class="btn btn-sm btn-default addCollectionItem" data-ajax-url="@Url.Action("AddNewCompanyFocalPoint", new { id = Model.CompanyID })">
                <span class="glyphicon glyphicon-plus"></span> Add a FocalPoint
            </a>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
	@Scripts.Render("~/bundles/bootstrap-dp")
	@Scripts.Render("~/bundles/bootstrap-dropdown")
	<script>
		$(".chosen-select").chosen({
            search_contains: true,
        })

	    $('.dp').datepicker({
        format: "yyyy-mm-dd",
        endDate: "+0d",
        todayBtn: "linked",
        orientation: "bottom auto",
        daysOfWeekDisabled: "5,6"
    });

    $(function () {

        $('input:submit').click(function () {
            var $button = this;
            var oldValue = $button.value;
            setTimeout(function () {
                $button.disabled = true;
                $button.value = 'Creating...';
                setTimeout(function () {
                    $button.disabled = false;
                    $button.value = oldValue;
                }, 500);
            }, 0);
        });

    });
</script>
}
