@model IEnumerable<LukeApps.GeneralPurchase.ViewModel.PurchaseOrderVM>
@section CustomStyles {
    @Styles.Render("~/Content/dt-basic")
    @Styles.Render("~/Content/bdp")

    <style type="text/css">
        .modal-body {
            max-width: 100%;
            max-height: 900px;
            overflow-y: auto;
        }

        .modal-dialog {
            width: 90% !important;
        }

        .ExecutionCompleted {
            background: rgb(216, 255, 234) !IMPORTANT;
        }

            .ExecutionCompleted.selected {
                background: rgb(107, 204, 152) !IMPORTANT;
            }
    </style>

}
@{
    ViewBag.Title = "Commitments";
}

<h2>Commitments and Payment Report</h2>

<div class="row">
        <div class="col-md-3">
            <b>Start Date</b>
            <input id="startdate" class="form-control dp" value="@DateTime.Now.AddDays(-7).ToString("yyyy-MM-dd")" />
        </div>
        <div class="col-md-3">
            <b>End Date</b>
            <input id="enddate" class="form-control dp" value="@DateTime.Now.ToString("yyyy-MM-dd")" />
        </div>
        <div class="col-md-6">
            <br />
            <a class="btn btn-sm btn-info" onclick="loadReport()">Run</a>
        </div>
</div>
<br />
<div class="row">
    <table id="dtTable" class="table table-striped table-bordered" width="100%">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.VendorName)
                </th>
                <th>
                    Purchase Orders
                </th>
                <th>
                    Invoice Received
                </th>
                <th>
                    Invoice Approved
                </th>
                <th>
                    Invoice Paid
                </th>
                <th>
                    Committed Value
                </th>
                <th>
                    Invoice Total Amount
                </th>
                <th>
                    Invoice Paid Total
                </th>
                <th>
                    Balance
                </th>
            </tr>
        </thead>

        <tfoot>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.VendorName)
                </th>
                <th>
                    Purchase Orders
                </th>
                <th>
                    Invoice Received
                </th>
                <th>
                    Invoice Approved
                </th>
                <th>
                    Invoice Paid
                </th>
                <th>
                    Committed Value
                </th>
                <th>
                    Invoice Total Amount
                </th>
                <th>
                    Invoice Paid Total
                </th>
                <th>
                    Balance
                </th>
            </tr>
        </tfoot>
    </table>
</div>

<div>
    <a href="/ManagementReference" class="btn btn-default">Back to Dashboard</a>
</div>

<div id="viewModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Summary</h4>
            </div>
            <div class="modal-body">
                <div id="viewContainer" style="min-height:200px">
                    <div id="spinner">
                        <span>Loading Details</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    @Scripts.Render("~/bundles/datatables")

    @Scripts.Render("~/bundles/indexHelper")

    @Scripts.Render("~/bundles/bootstrap-dp")

    @if (ViewBag.ModalID != null)
    {
        <script type="text/javascript">
            $(document).ready(function () {
                showmodal(@ViewBag.ModalID)
            });
        </script>
    }

    @if (@ViewBag.ErrorMessage != null)
    {
        <script type="text/javascript">
            $.notify('@ViewBag.ErrorMessage', { type: 'warning' });
        </script>
    }

    <script type="text/javascript">

        var rootURL = '@Url.Action("/")';


        IndexConfig.dtConfig.ajax = rootURL + '/getcommitmentreport';
        IndexConfig.dtConfig.columns = [
                    { "data": "CompanyName" },
                    { "data": "PurchaseOrders" },
                    { "data": "InvoiceReceivedTotal" },
                    { "data": "InvoiceApprovedTotal" },
                    { "data": "InvoicePaidTotal" },
                    { "data": "TotalValue" },
                    { "data": "InvoiceTotalAmount" },
                    { "data": "InvoiceTotalAmountPaid" },
                    { "data": "TotalBalance" },
        ];

        IndexConfig.dtConfig.columnDefs = null;

        function reloadTable() {
            table.ajax.url(rootURL + '/getcommitmentreport');
        }

        //Define Table
        var table = $('#dtTable').DataTable(IndexConfig.dtConfig);

        ////
    </script>

    <script>
        var reportTemplate = rootURL + 'GetCommitmentReport?startDate={startdate}&endDate={enddate}';

        $('.dp').datepicker({
            format: "yyyy-mm-dd",
            endDate: "+0d",
            todayBtn: "linked",
            orientation: "bottom auto"
        });

        function loadReport() {
            var st = moment($('#startdate').val()).format('YYYY-MM-DD');
            var ed = moment($('#enddate').val()).format('YYYY-MM-DD');
            var rptUrl = reportTemplate.replace("{startdate}", st).replace("{enddate}", ed);

            table.ajax.url(rptUrl).load(function () {
                th.applyFilter(table, th.colsToAdd);
                table.columns().search('').draw();
            });
        }
    </script>

    @Scripts.Render("~/bundles/dt-button")
}